*,
*::after,
*::before {
  /* border: 1px solid; */
  padding: 0;
  margin: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  /* background-color: antiquewhite; */
  height: 100vh;

  display: flex;
  justify-content: center;
}
.big-title {
  font-size: 1.45rem;
  font-family: "Arvo", serif;
  font-style: italic;
  font-weight: 400;
}
.main-title {
  font-size: 1.5rem;
  font-family: "Arvo", serif;
  font-style: bold;
  font-weight: 400;
  padding: 0.4rem;
  /* border-bottom: 1px solid; */
}
.main {
  width: 700px;
  height: 100vh;
  background-color: white;

  display: grid;
  grid-template-columns: 2fr 3fr;
}
/* image */

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* image */
.image {
  padding: 0.2rem 0;
  margin: 1rem 0;
}
.image-container {
  width: 250px;
  height: 300px;

  border-radius: 0.3rem;

  background-image: url(./img/my_picture.jpg);
  background-position: center;
  background-size: cover;

  /* shadow drop */
  box-shadow: 4px 4px 14px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 4px 14px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 14px -4px rgba(0, 0, 0, 0.75);
}
/* image */

/* small intro */
.intro-container {
  /* margin: 0 1rem; */
}

.dob,
.hometown,
.age,
.height,
.weight {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 1.3rem;
}
.intro-container .name .title {
  font-size: 1.8rem;
  font-family: "Dosis", sans-serif;
  font-weight: 500;

  padding: 1rem 0.4rem;

  word-spacing: 0.3rem;
  text-align: center;
}
.intro-container .title {
  font-size: 1.2rem;
  font-family: "Dosis", sans-serif;
  /* font-family: "Short Stack"; */
  font-weight: 500;
  text-align: left;
}
.intro-container .value {
  font-size: 1.1rem;
  font-family: "Exo 2";
  font-weight: 400;
}
/* small intro */

/* Personal Details */
.personal-details {
  margin: 0.2rem 0;
  padding: 0.5rem 0.5rem;
}
.personal-details .value-pair {
  display: flex;
  justify-content: space-between;

  padding: 0.5rem 0.4rem;
}
.personal-details .value-pair .title {
  font-size: 1.2rem;
  font-family: "Dosis", sans-serif;
  /* font-family: "Short Stack"; */
  font-weight: 500;
  text-align: left;
}
.personal-details .value-pair .value {
  font-size: 1.2rem;
  font-family: "Dosis", sans-serif;
  /* font-family: "Short Stack"; */
  font-weight: 500;
  text-align: right;
}

/* Personal Details */

/* Family Background */
.family-details {
  margin: 0.2rem 0;
  padding: 0.5rem 0.5rem;
}
.family-details .value-pair {
  display: flex;
  justify-content: space-between;

  padding: 0.5rem 0.4rem;
}
.family-details .value-pair .title {
  font-size: 1.2rem;
  font-family: "Dosis", sans-serif;
  /* font-family: "Short Stack"; */
  font-weight: 500;
  text-align: left;
}
.family-details .value-pair .value {
  font-size: 1.2rem;
  font-family: "Dosis", sans-serif;
  /* font-family: "Short Stack"; */
  font-weight: 500;
  text-align: right;
}
/* Family Background */

/* contact details */
.contact-details {
  margin: 0.4rem 0;
  padding: 0.5rem 0.5rem;
}
.contact-details .value-pair {
  display: flex;
  justify-content: space-between;

  padding: 0.3rem 0.4rem;
}
.contact-details .value-pair .title {
  font-size: 1.2rem;
  font-family: "Dosis", sans-serif;
  /* font-family: "Short Stack"; */
  font-weight: 500;
  text-align: left;
}
.contact-details .value-pair .value {
  font-size: 1.2rem;
  font-family: "Dosis", sans-serif;
  /* font-family: "Short Stack"; */
  font-weight: 500;
  text-align: right;
}
/* contact details */
